@font-face {
    font-family:'Century Gothic';
    src: url('../fonts/centurygothic.eot');
    src: url('../fonts/centurygothic.eot') format('embedded-opentype'),
         url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff'),
         url('../fonts/centurygothic.ttf') format('truetype'),
         url('../fonts/centurygothic.svg#CenturyGothicRegular') format('svg');
         font-weight: normal;
		 font-style: normal;
}
.wrapper{
	height: auto;
	min-height: 100%;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.logo, .banner{
	float: left;
	padding-top: 20px;
}
.banner{
	width: 346px;
	height: 84px;
	background: url(../images/bannet.jpg);
	margin-left: 100px;
}
.right-block{
	float: right;
	padding-top: 5px;
	position: relative;
}
.registration a{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #000;
	margin-left: 10px;
}
	.registration a:hover{
		text-decoration: underline;
	}
.lang{
	display: inline-block;
	padding-left: 25px;
	padding-bottom: 2px;
	background: url(../images/eng.jpg)no-repeat;
	background-position: 0 1px;
}
.shopping-cart{
	margin-top: 15px;
	width: 160px;
	padding-right: 20px;
	position: absolute;
	right: 9px;
}
.shop-cart{
	width: 37px;
	height: 36px;
	display: inline-block;
	background: url(../images/cart.jpg);
	float: left;
}	
.status{
	float: right;
}
	.status p{
		font-family: Arial, sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #303030;
	}
	.status span{
		font-family: Arial, sans-serif;
		font-size: 11px;
		color: #303030;
		margin-top: 10px;
		display: inline-block;
	}
nav{
	width: 100%;
	min-width: 1000px;
	background: #b3b3b3;
	overflow: hidden;
}
.nav li{
 	float: left;
 }
	  .nav>li a{
	  	display: block;
	  	height: 37px;
	  	padding-left: 27px;
	  	padding-right: 27px;
	  	padding-top: 13px;
	  	font-family: Arial, sans-serif;
	  	font-size: 11px;
	  	color: #fff;
	  	-webkit-transition: all 0.2s;
	  	-o-transition: all 0.2s;
	  	transition: all 0.2s;
	  	text-align: center;
 	 }
 	 .nav>li:first-child a{
 	 	width: 150px;
 	 }
 	 	.nav li a:hover, nav li a.active{
 	 		background: #ff7964;
			
 	 	}
 .nav .nav-child{
	position: absolute;
	height: 400px;
	border: 1px solid #cbcbcb;
	border-top: 0;
	width: 150px;
	padding-top: 30px;
	padding-left: 20px;
	line-height: 2.3;
}
.nav .nav-child a{
	font-family: Tahoma, sans-serif;
	color: #747474;
	font-size: 10px;
	padding: 0;
	display: block;
	background: none;
	width: 100% !important;
	height: auto;
	text-transform: uppercase;
	text-align: left;
}
 	 	
 	 	.nav-child li{
 	 		float: none;
 	 	}
 	 		.nav-child li a:hover{
 	 			background: none;
 	 			text-decoration: underline;
 	 		}
.search{
	width: 170px;
	float: right;
	position: relative;
	padding-top: 3px;
	padding-right: 5px;
}
	.search input[type="submit"]{
		position: absolute;
		right: 7px;
		top: 11px;
		width: 13px;
		height: 12px;
		background: url(../images/search.png)no-repeat;
		border: 0;
		cursor: pointer;
		outline: 0;
	}
	.search input[type="text"]{
		height: 30px;
		padding-left: 5px;
		font-size: 13px;
		width: 170px;
	}

.nh-block a:first-child{
	display: block;
	width: 200px;
	height: 200px;
	text-align: center;
	position: relative;
	margin: 1px;
}
	.nh-block a:first-child:hover{
		outline: 1px solid #e3e3e3;
	}
.nh-block .description p{
	font-family: Tahoma, sans-serif;
	color: #747474;
}
.nh-block .description p:nth-child(2){
	font-size: 11px;
	margin-top: 3px;
}
.nh-block .description p:last-child{
	font-size: 12px;
	font-weight: bold;
	margin-top: 6px;
}
.nh-block a img{
	position: absolute;
	top: 10%;
	left: 8%;
}
.new-and-hot h3{
	font-family: 'Times New Roman', sans-serif;
	font-size: 42px;
	text-align: center;
	color: #ff7964;
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.nh-block{
	width: 200px;
	float: left;
}
.new-and-hot>.container{
	position: relative;
}
.control{
	position: absolute;
	right: 20px;
	top: 40px;
}
.control a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #575757;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 20px;
	-moz-webkit-border-radius: 20px;
	-ms-webkit-border-radius: 20px;
	-o-webkit-border-radius: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding-left: 7px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;	
}
	.control a:hover, .control a.active{
		background: #ff7964;
	}
.bestsellers{
	margin-top: 50px;
}
.bestsellers header{
	text-align: center;
	background: #f8f8f8;
	line-height: 1.3;
	padding: 10px 0 15px 0;
}
	.bestsellers header h3{
		font-family: 'Times New Roman',sans-serif;
		font-size: 40px;
		color: #a9b20b;
		text-transform: uppercase;
	}
	.bestsellers header p{
		font-family: Arial, sans-serif;
		font-size: 11px;
		color: #575757;
	}
.best-block .description span, .best-block-bottom .description span{
	font-family: Arial, sans-serif;
	font-size: 22px;
	color: #ff9300;
}
.best-block .description p{
	font-family: Tahoma, sans-serif;
}
.best-block .description .name, .best-block-bottom .description .name{
	font-size: 12px;
	color: #797979;
}
.best-block .description .price, .best-block-bottom .description .price{
	font-size: 15px;
	color: #a2a2a2;
	margin-top: 7px;
}
.best-block{
	width: 333px;
	border: 1px solid #efefef;
	float: left;
	height: 411px;
}
.last-best-block{
	width: 334px !important;
}
.best-block .description{
	padding: 10px;
	position:relative;
}
.best-block >a{
	display: block;
	width: 333px;
	height: 335px;
	border: 1px solid transparent;
	position: relative;
}
	.best-block >a:hover{
		border-bottom: 1px solid #dfdfdf;
	}
.best-block a img{
	position: absolute;
	top: 20%;
	left: 20%;
}
.best-block .number{
	position: absolute;
	left: 10px;
	top:10px;
}
	.best-block .number p{
		font-family: 'Times New Roman', sans-serif;
		font-size: 33px;
		color: #ff8481;
		position: relative;
		top: 30px;
		left:10px;
	}
.best-block-bottom{
	width: 250px;
	float: left;
	border: 1px solid #efefef;
	height: 425px;
}
	.best-block-bottom>a{
		display: block;
		width: 248px;
		border: 1px solid transparent;
		position: relative;
		height: 248px;
	}
	.best-block-bottom >a:hover{
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
	}
	.best-block-bottom .number{
		height: 75px;
		padding: 10px 0 0 20px;
	}
		.best-block-bottom .number p{
			font-family: 'Times New Roman', sans-serif;
			font-size: 33px;
			color: #ff8481;
			position: relative;
			left: 6px;
			}
	.best-block-bottom a img{
		position: absolute;
		top: 10%;
		left: 10%;
	}
	.best-block-bottom .description{
		padding: 15px 0 0 15px;
	}
.best-block-bottom .number p.two-n{
	left: -1px;
}
.review{
	margin-top: 70px;
}
.review >.container{
	border-top: 1px solid #000;
}
.heart{
	display: block;
	width: 19px;
	float:left;
	height: 16px;
	background: url(../images/heart.png);

}
	.heart:hover, .heart.active{
	background: url(../images/heart-h.png);

}
.review h3{
	font-family: Arial, sans-serif;
	font-size: 27px;
	color: #747474;
}
.review header p{
	font-family: 'Times New Roman', sans-serif;
	font-size: 17px;
	color: #ff7964;
}
.review header{
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 30px;
}
.main-review .comment{
	float: right;
	width: 70%;
	padding-left: 10px;
	line-height: 2.4;
}
.main-review img{
	float: left;
}
.main-review{
	background: #f8f7d9;
	overflow: hidden;
}

.comment p:first-child{
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #575757;
	text-transform: uppercase;
}
.comment span{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #575757;
	position: relative;
	top: -3px;
	left:8px;
}
.comment .info-com{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #666666;
}
.comment .comment-block p{
	margin-top: 50px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #575757;
	line-height: 1.3;
}
.mini-review{
	margin-top: 50px;
}
.mini-comment{
	width: 49.5%;
	float: left;
	padding-bottom: 40px;
	padding-right: 40px;
	padding-left:20px;
	background:#fafafa;
	margin-top:10px;
	padding-top:20px;
}
.mini-review .mini-comment:nth-child(2n){
	margin-left:1%;
}
	.mini-comment .mini-comment-block{
		width: 85%;
		float: right;
	}
	.mini-comment-block p:first-child{
		font-family:'Century Gothic';
		font-size: 12px;
		color: #575757;
	}
	.mini-comment-block span{
		font-family: Tahoma, sans-serif;
		font-size: 11px;
		font-weight: bold;
		color: #575757;
		position: relative;
		top: -3px;
		left:8px;
	}
.mini-comment-block{
	line-height: 1.5;
}
.sale-span{
	position:absolute !important;
	bottom:43px;
}
.mini-comment-block .info-com{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #666666;
}
.mini-comment p.commentary{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #575757;
	font-style: italic;
	margin-top: 15px;
	line-height: 1.8;
}
.mini-comment p.commentary a{
	color: #35689a;
}
	.mini-comment p.commentary a:hover{
		text-decoration: underline;
}
.brand-list li a{
	display: block;
	width: 97px;
	height: 33px;
	background: url(../images/brand-1.png);
}
	.brand-list li{
		float: left;
		margin-left: 32px;
		margin-top: 25px;
	}
		.brand-list li:first-child, .brand-list-second li:first-child{
			margin-left: 0;
		}
.brand-list-second li{
	float: left;
	margin-left: 46px;
	margin-top: 25px;
}
.brand-list-second li a{
	display: block;
	width: 83px;
	height: 71px;
	background: url(../images/brand-2.png);
}
.brands{
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	background: #f7f7f7;
	padding-bottom: 30px;
	margin-top:70px;
}
footer{
	padding-top: 50px;
}
.footer-drop-child a{
	color: #4c4c4c;
	font-family: Arial, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	line-height: 2.5;
}
	.footer-drop-child a:hover{
	text-decoration: underline;
}
	.footer-drop-child{
		margin-top: 30px;
	}
.footer-drop li{
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ff7964;
	text-transform: uppercase;
}
.footer-drop{
	float: left;
	margin-left: 30px;
}
footer>.container ul:first-child{
	margin-left: 0;
}
.footer-drop-right{
	position:relative;
	top:-5px;
}
.footer-drop-right a{
	line-height: 2.5;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 9px;
	color: #747474;
	text-transform: uppercase;
}
	.footer-drop-right a:hover{
		text-decoration: underline;
	}
.copyright{
	border-top: 1px solid #e3e3e3;
	padding-top: 5px;
	margin-top: 15px;

}
.copyright p{
	width: 348px;
	margin: 0 auto;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #575757;
	line-height: 1.5;
}
.copyright img:last-child{
	float: right;
	position: relative;
	top: -40px;
}
.copyright img:first-child{
	float: left;
}
.modal-link{
	position: relative;
	z-index: 2;
	margin-top: 30px;
}
.modal-link a{
	display: inline-block;
	width: 210px;
	height: 50px;
	text-align: center;
	font-family: Tahoma, sans-serif;
	color: #5e5e5e;
	font-size: 12px;
	border: 1px solid #dedede;
	background: #fff;
	padding-top: 17px;
}
.modal-background{
	width: 326px;
	height: 209px;
	background: url(../images/modal-back.jpg);
	position: relative;
	z-index: 1;
	left: 122px;
	top: -66px;
}
.modal-img{
	position: relative;
	z-index: 3;
	width: 53px;
	height: 14px;
	background: url(../images/modal.png);
	margin: 0 auto;
	top: -13px;
	left: 6px;
}
.catalog{
	margin-top: 40px;
}
.breadcrumbs ul li{
	float: left;
	font-family: Arial ,sans-serif;
	font-size: 9px;
	color: #303030;
}
	.breadcrumbs ul li a{
		font-family: Arial ,sans-serif;
		font-size: 9px;
		color:#a2a2a2;
	}
.cat-banner{
	margin-top: 20px;
}
.cat-banner img{
	float: left;
}
.banner-img{
	width: 65.5%;
	float: right;
	height: 213px;
	background: #fff4de;
	text-align: center;
	line-height: 2;
	text-transform: uppercase;
	font-size: 40px;
}
.tovar{
	margin-top: 40px;
}
.tovar h5{
	border-bottom: 1px solid #ffa094;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	color: #575757;
	padding-bottom: 5px;
}
	.tovar h5 span{
		font-weight: bold;
	}
.tovar-list{
	float: left;
	margin-top: 15px;
	line-height: 1.5;
	margin-left: 20px;
}
	.tovar-list a{
		font-family: Arial, sans-serif;
		font-size: 10px;
		color: #575757;
		text-transform: uppercase;
	}
		.tovar-list a:hover{
			text-decoration: underline;
		}
.filter{
	margin-top: 60px;
}
.filter h5{
	padding-left: 20px;
	text-transform: uppercase;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #303030;
	padding-bottom: 5px;
}
.left-filter, .center-filter{
	width: 300px;
	float: left;
	line-height: 2;
}
.left-filter .checkbox, .center-filter .checkbox{
	width: 50%;
	float: left;
}
.checkbox-input{
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #303030;
}
	.checkbox-input label{
		position: relative;
		left: 5px;
		top: -3px;
	}
.center-filter-block, .right-filter-block{
	border-left: 1px solid #dedede;
	overflow: hidden;
	padding-left: 20px;
}
.left-filter-block{
	padding-left: 20px;
}
.right-filter{
	width: 395px;
	float: left;
	line-height: 2;
	padding-left: 20px;
}
	.right-filter .checkbox{
		width: 33.3%;
		float: left;
	}
.catalog-block{
	margin-top: 40px;
}
	.catalog-block header ul{
		float: right;
		padding-bottom: 5px;
	}
		.catalog-block header ul li{
			float: left;
			margin-left: 15px;
		}
			.catalog-block header ul li a{
			font-family: Arial, sans-serif;
			font-size: 10px;
			font-weight: bold;
			color: #747474;
		}
.catalog-content{
	height: 350px;
	padding-top: 10px;
}
.pagination{
	position: relative;
    float: right;
    right: 50%;
    margin-top: 20px;
    padding-bottom: 100px;
}
.pagination ul{
	position: relative;
    float: left;
    left: 50%;

}
.pagination ul li{
	float: left;
	margin-left: 5px;
}
	.pagination ul li a{
		display: inline-block;
		width: 25px;
		height: 25px;
		background: #fff;
		border: 1px solid #efefef;
		font-family: Arial, sans-serif;
		font-size: 11px;
		color: #747474;
		padding-top: 6px;
		padding-left: 8px;
		-webkit-transition: all 0.1s ease-out;
		-o-transition: all 0.1s ease-out;
		transition: all 0.1s ease-out;
	}
		.pagination ul li a:hover, .pagination ul li a.active{
			background: #efefef;
		}
.group{margin-top: 20px;}

.left-group{
	width: 350px;
	height: 350px;
	float: left;
	border: 1px solid #cbcbcb;
}
.right-group{
	width: 645px;
	height: 350px;
	float: left;
	padding-left: 50px;
}
	.right-group h3{
		font-family: Tahoma, sans-serif;
		font-size: 18px;
		color: #000;
	}
.left-group-block{
	line-height: 2;
	width: 69%;
	float: left;
}
.review-group{
	margin-top: 40px;
}
.group-info{
	margin-top: 20px;
}
.wish-group{
	margin-top: 60px;
}
	.wish-group button{
		width: 125px;
		height: 30px;
		border: 1px solid #dedede;
		-webkit-border-radius: 20px;
		-moz-webkit-border-radius: 20px;
		-ms-webkit-border-radius: 20px;
		-o-webkit-border-radius: 20px;
		border-radius: 20px;
		outline: 0;
		background: #fff;
		font-family: Tahoma, sans-serif;
		font-size: 11px;
		color: #575757;
		padding-bottom: 3px;
	}
	.wish-group button.in-wish{
		border: 1px solid #ffd7d0;
	}
.review-group span{
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #575757;
	font-weight: bold;
	position: relative;
	top:-3px;
	left: 2px;
}
.group-info span{
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #575757;
}
	.group-info span.amount{
		font-size: 14px;
		position: relative;
		left: 40px;
	}
	.group-info select{
		position: relative;
		left: 45px;
	}
.right-group-block{
	width: 30%;
	float: right;
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #303030;
	line-height: 1.7;
}
	.right-group-block .cost{
		margin-top: 30px;
	}
	.right-group-block span.now-price{
		font-size: 20px;
		position: relative;
		left: 40px;
	}
	.right-group-block span.after-price{
		text-decoration: line-through;
		font-size: 15px;
		color: #a9a9a9;
		position: relative;
		left: 70px;
		top: -7px;
	}
	.right-group-block input{
		width: 25px;
		height: 25px;
		text-align: center;
		outline: 0;
		border: 1px solid #dedede;
		position: relative;
		left: 38px;
	}
	.right-group-block .group-btn{
		margin-top: 70px;
	}
		.group-btn a{
			display: block;
			width: 125px;
			height: 35px;
			text-align: center;
			color: #fff;
			font-family: Tahoma, sans-serif;
			font-size: 13px;
			padding-top: 5px;
			margin: 0 auto;
		}
			.group-btn a:first-child{
				background: #ffa094;

			}
			.group-btn a:last-child{
				background: #b8b8b8;
				margin-top: 15px;
			}
.group-widget{
	margin-top: 30px;
}
.description-product{
	margin-top: 60px;
	font-family: Tahoma, sans-serif;
	color: #747474;
	font-size: 11px;
}
	.description-product h5{
		background: #f9f9f9;
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px;
	}
		.description-product-block{
			margin-top: 20px;
		}
		.description-product-block p{
			padding: 10px;
		}

.about-product{
	margin-top: 90px;
}
	.about-product h3{
		text-transform: uppercase;
		color: #ff7964;
		font-family: Tahoma, sans-serif;
		font-size: 15px;
		font-weight: bold;
		border-bottom: 1px solid #ff7964;
		padding-bottom: 5px;
	}
.about-block-img{
	width: 785px;
	height: 593px;
	margin: 60px auto;
	border: 1px solid #cbcbcb;
}
	.about-block-img p{
		text-transform: uppercase;
		font-size: 45px;
		text-align: center;
		line-height: 12;
	}
.also-block h3{
	font-family: 'Times New Roman', Tahoma, sans-serif;
	text-transform: uppercase;
	color: #ff7964;
	font-size: 29px;
	text-align: center;
	padding-bottom: 30px;
}
.product-review header{
	border-top:1px solid #e3e3e3;
}
	.product-review header h3{
		text-transform: uppercase;
	}
.product-review .review-group{
	margin-top: 0;
	float: right;
	position: relative;
	top: -35px;
}
#contentContainer{
	width: 1000px;
	overflow: hidden;
}
.nh-content{
	width: 3000px;
    position: relative;
    left: 0px;
    transition: left .6s ease-in-out;
}
.content-item{
	width: 1000px;
	float: left;
	white-space: normal;
}
.after-nav .main-banner{
	height: 400px;
	border: 1px solid #efefef;
	border-left: 0;
	border-top: 0;
	width: 849px;
	margin-left: 150px;
	text-align: center;
	font-size: 40px;
	line-height: 5;

}
footer{
	background: #f4f4f4;
	overflow: hidden;
}
.login{
	padding-top: 100px;
}
.registration-block, .help-form{
	float: left;
	width: 340px;
	line-height: 2;
}
	.registration-block h4{
		font-family: Tahoma, sans-serif;
		font-size: 14px;
		color: #ffa192;
	}
	.enter-block h4{
		font-family: Tahoma, sans-serif;
		font-size: 14px;
		margin-bottom: 14px;
	}
	.create{
		width: 320px;
		display: block;
		height: 40px;
		text-align: center;
		text-transform: uppercase;
		background: #ffa192;
		margin-top: 75px;
		font-family: Tahoma, sans-serif;
		font-size: 14px;
		color: #fff;
		padding-top: 5px;
	}
	.registration-block input, .enter-block input, .recovery input, .help-form input{
		height: 40px;
		width: 320px;
		outline: 0;
		border: 1px solid #dedede;
		margin-top: 25px;
		padding-left: 15px;
	}
	.help-form textarea{
		width: 320px;
		outline: 0;
		border: 1px solid #dedede;
		font-family: Arial, sans-serif;
		font-size: 12px;
		padding-left: 15px;
		padding-top: 10px;
		margin-top: 25px;
		height: 100px;
		resize:none;
	}
	.code-image{
		margin-top: 25px;
		position: relative;
	}
	.code-image input{
		width: 130px;
		float: left;
		margin-top: 0;
		margin-left: 20px;
		font-family: Tahoma, sans-serif;
		font-size: 20px;
		font-weight: bold;
		color: #747474;
		height: 40px;
	}
	.code-image-block{
		width: 170px;
		float: left;
		height: 40px;
		background: #dedede;
	}
.enter-block{
	width: 320px;
	float: right;
}
.enter-block .forgot-password{
	float: right;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #8d8d8d;
	margin-top: 10px;
}	
	.enter-block .forgot-password:hover{
		text-decoration: underline;
	}
	 .enter-btn{
		float: right;
		display: block;
		width: 130px;
		height: 40px;
		text-align: center;
		text-transform: uppercase;
		background: #ffa192;
		margin-top: 63px;
		font-family: Tahoma, sans-serif;
		font-size: 14px;
		color: #fff;
		padding-top: 12px;
	}
	.refresh{
		display: inline-block;
		width: 28px;
		height: 32px;
		background: url(../images/refresh.jpg);
		position: absolute;
		right: -10px;
		top: 4px;
	}
.recovery{
	width: 340px;
	margin: 0 auto;
	padding-top: 40px;
	font-family: Tahoma, sans-serif;
	color: #575757;
}
	.recovery h4{
		font-size: 14px;
	}
	.recovery p{
		font-size: 10px;
		margin-top: 10px;
	}
.recovery .enter-btn{
	margin-right: 20px;
	margin-top: 50px;
}
.recovery input::-moz-placeholder{color: #a2a2a2;}
.recovery input::-webkit-input-placeholder{color: #a2a2a2;}
.recovery input::-ms-input-placeholder{color: #a2a2a2;}
.login input::-moz-placeholder{color: #a2a2a2;}
.login input::-webkit-input-placeholder{color: #a2a2a2;}
.login input::-ms-input-placeholder{color: #a2a2a2;}

.payment-logo{
	display: block;
	width: 145px;
	height: 40px;
	background: url(../images/payment-logo.jpg);
	margin-top: 20px;
}
.payment{
	border-bottom: 4px solid #ff8a85;
	padding-bottom: 15px;
}
	.payment-block{
		border: 1px solid #dedede;
		padding: 10px 0 50px 35px;
	}
.payment-block input{
	width: 200px;
	height: 25px;
	outline: 0;
	border: 1px solid #dedede;
	padding-left: 10px;
}
	.payment-block p{
		color: #747474;
		font-family: Tahoma ,sans-serif;
		font-size: 12px;
		padding-bottom: 5px;
	}
.enter-name .payment-input{
	float: left;
}
	.enter-name .payment-input:last-child{
		margin-left: 30px;
	}
	.payment-input{
		margin-top: 20px;
	}
.select-country{
	float: left;
}
.postal-code{
	float: left;
	margin-left: 30px;
}
.select-country select{
	width: 200px;
}
.payment-country{
	margin-top: 20px;
}
	.postal-code input{
		width: 90px;
	}
.payment-section{
	margin-top: 70px;
}
	.payment-section h3{
		font-family: Arial, sans-serif;
		font-size: 24px;
		color: #303030;
	}
	.payment-section p.please{
		font-family: Arial,sans-serif;
		font-size: 12px;
		color: #575757;
		margin-top: 20px;
		margin-bottom: 15px;
	}
.paypal-link{
	width: 186px;
	height: 35px;
	display: block;
	margin: auto;
	background: url(../images/paypal.jpg);
	margin-top: 30px;
}
.payment-wrapper{
	padding-bottom: 200px;
}
.success{
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #575757;
	overflow: hidden;
	background: #fafafa;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 80px;
}
	.success>.container{
		padding: 160px 0 320px 240px;
	}
	.success p{
		margin-top: 25px;
	}
		.success p:last-child{
			margin-top: 35px;
		}
.basket-product-img{
	width: 65px;
	height: 65px;
	float: left;
	background-color: #e5e5e5;
	margin-right: 15px;
}
	.table-cart{
		width: 1000px;
	}
		.table-cart td{
			vertical-align: middle;
		}
			
	.table-value{
		width: 30px;
		height: 30px;
		outline: 0;
		border:1px solid #dedede;
		text-align: center;
	}
	.table-cart thead td{
		height: 40px;
		background-color: #efefef;
		font-family: Tahoma, sans-serif;
		font-size: 11px;
		color: #575757;
	}
	.table-cart tbody td{
		height: 120px;
		border-bottom: 1px solid #ebebeb;
		font-family: Arial, sans-serif;
		font-size: 12px;
		color: #303030;
	}
		.table-cart tbody td span{
			font-size: 11px;
			color: #575757;
		}
		.basket-description{
			padding-top: 15px;
			line-height: 1.4;
		}
.table-row-1{
	text-align: center;
	width: 5%;
}
.table-row-2{
	width: 65%;
	padding-left: 100px;
}
.table-row-3{
	width: 10%;
	padding-left: 5px;
}
.cart{
	margin-top: 80px;
}
	.cart h5{
		font-family: Tahoma, sans-serif;
		font-size: 12px;
		font-weight: bold;
		color: #575757;
		padding-left: 20px;
		padding-bottom: 10px;
	}
.choice{
	overflow: hidden;
	border-bottom: 1px solid #efefef;
}
.left-choice{
	width: 50%;
	float: left;
	padding: 8px 20px 5px 20px;
}
.left-choice a{
	width: 140px;
	height: 30px;
	display: inline-block;
	text-align: center;
	background: #efefef;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #424242;
	padding-top: 8px;
}
.right-choice{
	width: 50%;
	float: right;
	padding: 8px 50px 5px 0;
}
.right-choice a{
	width: 140px;
	height: 30px;
	display: inline-block;
	text-align: center;
	background: #747474;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #fff;
	padding-top: 8px;
	text-transform: uppercase;
	float: right;
}
	.shipping img{
		float: left;
	}
.after-table-block{
	width: 70%;
	float: right;
	padding-top: 30px;
}
.shipping{
	float: left;
	width: 325px;
	height: 65px;
	border: 1px solid #dedede;
	padding-top: 8px;
	padding-left: 10px;
	margin-left: 70px;
}
	.shipping p{
		font-family: Arial, sans-serif;
		font-size: 11px;
		color: #575757;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.shipping input{
		font-family: Arial, sans-serif;
		font-size: 10px;
		color: #575757;
		outline: 0;
		border: 1px solid #dedede;
		height: 20px;
		padding-left: 5px;
		width: 138px;
	}
	.shipping a{
		display: inline-block;
		text-align: center;
		width: 85px;
		height: 20px;
		background-color: #dedede;
		font-family: Arial, sans-serif;
		font-size: 10px;
		color: #424242;
		position: relative;
		top: -1px;
		left: 10px;
		padding-top: 4px;
	}
.total-cost{
	float: right;
	line-height: 2;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #303030;
	padding-right: 20px;
}

.total-cost .cost-info{
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #303030;
}
.total-cost .cost-price{
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #424242;
	padding-left: 40px;
}
.total-cost-link{
	margin-top: 60px;
}
.total-cost-link a{
	display: block;
	width: 200px;
	height: 35px;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	color: #fff;
	margin-top: 10px;
	padding-top: 3px;
}
	.total-cost-link a:first-child{
		background-color: #a3d671;
	}
	.total-cost-link a:last-child{
		background-color: #ffa094;
	}
.after-table{
	overflow: hidden;
	padding-bottom: 100px;
}
.help{
	margin-top: 70px;
	overflow: hidden;
	padding-bottom: 100px;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 100px;
}
.help-form{
	margin-left: 100px;
	margin-top: 30px;
}
.help-form .create{
	margin-top: 40px;
}
	.help-form h4{
		font-size: 15px;
		font-family: Arial, sans-serif;
		color: #616161;
	}

.help-list{
	float: left;
}
	.help-list ul{
		margin-top: 40px;
		line-height: 2.2;
	}
		.help-list ul a{
			color: #575757;
			font-family: Tahoma, sans-serif;
			font-size: 13px;
			-webkit-transition: 0.1s ease-out;
			-o-transition: 0.1s ease-out;
			transition: 0.1s ease-out;
		}	
			.help-list ul a:hover, .help-list ul a.active{
				color: #fe9f91;
			}
	.help-list h3{
		text-transform: uppercase;
		font-size: 17px;
		font-family: Arial, sans-serif;
		font-weight: bold;
		color: #fe9f91;
	}
.question h5{
	font-family: Tahoma,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #303030;
	padding-bottom: 10px;
}
.question{
	line-height: 1.5;
	margin-bottom: 40px;
}
.question p{
	font-family: Tahoma,sans-serif;
	font-size: 14px;
	color: #303030;
	
}
.question-block{
	width: 740px;
	margin-top: 0;
}
.account-right{
	margin-left: 35px;
	padding-top: 60px;
	float: left;
	padding-left: 70px;
	width: 841px;
	background-color: #fafafa;
	padding-bottom: 200px;
}
	.my-account h3{
		text-transform: uppercase;
		font-weight: bold;
		font-family: Arial, sans-serif;
		font-size: 15px;
		color: #575757;
		padding-bottom: 20px;
	}
		.my-account table{
			line-height: 3;
			font-family: Tahoma, sans-serif;
			font-size: 12px;
			color: #707070;
		}
		.my-account table td{
			width: 250px;
		}
.transform{
	text-transform: uppercase;
}
.big-size{
	font-size: 14px;
}
.my-account p{
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #747474;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 20px;
}
.account .bottom-list-account{
	margin-top: 0;
}
.account h4{
	font-family: Arial,sans-serif;
	font-size: 13px;
	color: #575757;
	text-transform: uppercase;
}
.account .help-list{
	margin-top: 60px;
}
	.account .change{
		font-size: 10px;
		font-family: Arial,sans-serif;
		color: #303030;
		font-weight: bold;
		margin-top: 40px;
	}
.account{
	overflow: hidden;
	border-bottom: 1px solid #f2f2f2;
	min-width: 1000px;
}
	.accout-input input{
		width: 310px;
		height: 40px;
		outline: 0;
		border: 1px solid #dedede;
		padding-left: 15px;

	}
	.account-right input[type="submit"], .submit{
		width: 110px;
		height: 30px;
		text-align: center;
		text-transform: uppercase;
		outline: 0;
		border: 0;
		font-family: Tahoma, sans-serif;
		font-size: 11px;
		background-color: #fe9f91;
		color: #fff;
	}
	.account-right input[type="submit"].cancel{
		background-color: #bcbcbc;
	}
.change-profile p{
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #a2a2a2;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 15px;
}
.account-submit{
	position: relative;
	left: 86px;
	top: 20px;
}
	.change-profile input[type="password"]{
		font-size: 20px;
	}
.history-table tbody tr td{
	border-bottom: 1px solid #ebebeb;
	padding-left: 20px;
}
.history-table thead tr td{
	background-color: #efefef;
	padding-left: 20px;
}
	.history-table tbody tr:first-child td{
		padding-top: 15px;
	}
	.history-table a{
		color: #707070;
		text-decoration: underline;
	}
		.history-table a:hover{
			text-decoration: none;
		}
	.history-table .cost{
		padding-left: 10px;
	}
.my-account .finished-table{
	line-height: 1.7;
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #575757;
	float: left;
	width: 380px;
}
	.my-account .finished-table tr:first-child td{
		padding-bottom: 5px;
	}
	.my-account .finished-table tr td:last-child{
		font-size: 12px;
		padding-left: 30px;
	}
	.paid{
		color: #78a942;
	}
.recipient-info{
	border-left: 1px solid #eaeaea;
	float: left;
	padding-left: 50px;
	height: 165px;
}
.recipient-info p{
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #575757;
	font-weight: 400;
	margin: 0;
}
	.recipient-info-block{
		margin-top: 15px;
		line-height: 1.3;
	}
.my-account .history-finished p{
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #5e5e5e;
	text-transform: uppercase;
	font-weight: 400;
}
.my-account .history-finished{
	line-height: 1.5;
	width: 100%;
	margin-top: 50px;
}
.width-td{
	width: 65% !important;
}
	.width-td-2{
	width: 10% !important;
}
.my-account .history-finished tbody tr td{
	height: 120px;
	vertical-align: middle;
	border-bottom: 1px solid #ebebeb;
}
.my-account .history-finished thead tr td{
	background-color: #efefef;
	height: 45px;
	vertical-align: middle;
}
.my-account .history-finished thead tr td:first-child, .my-account .history-finished tbody tr td:first-child{
	padding-left: 50px;
}
.padding-left{
	padding-left: 15px !important;
}
.history-finished .review-group{
	margin-top: 5px;
}
.rating{
	font-family: Arial, sans-serif !important;
	font-size: 11px !important;
	font-weight: bold !important;
	font-style: italic !important;
	color: #575757 !important;
}
.delete{
	float: right;
	margin-right: 87px;
}
	.delete input{
		width: 145px !important;
	}
.margin-top-10{
	margin-top: 10px !important;
}
	.my-tovars header{
		height: 40px;
		background-color: #efefef;
	}
.my-tovars-img,.my-tovars-info{
	float: left;
}
.my-tovars-submit{
	position: absolute;
	right: 0;
	top: 35%;
}
.section-tovars{
	position: relative;
	padding-top: 30px;
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	padding-bottom: 30px;
}
	.my-tovars-submit input{
		position: absolute;
		right: 0;
	}
.change-profile p.my-review{
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #575757;
	line-height: 1.6;
}
.review-date{
	font-family: Arial, sans-serif !important;
	font-size: 11px !important;
	font-weight: 400 !important;
	color: #575757 !important;
}
.review-rating{
	font-family: Arial, sans-serif !important;
	font-size: 13px !important;
	font-weight: bold !important;
	color: #575757 !important;
}
.my-tovars-name{
	font-family: Tahoma, sans-serif !important;
	font-size: 12px !important;
	color: #5e5e5e !important;
	font-weight: 400 !important;
}
.input-submit{
	float: right;
}
.titlebar{
	border: 1px solid #dedede;
	width: 450px;
	height: 36px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #575757;
	padding-left: 10px;
	outline: 0;
}
.review-textarea{
	width: 100%;
	height: 120px;
	outline: 0;
	resize:none;
	border: 1px solid #dedede;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #575757;
	padding: 10px;
}
.p-head{
	font-family: Arial, sans-serif !important;
	font-size: 11px !important;
	font-weight: bold !important;
	color: #575757 !important;
}
.important{
	font-family: Arial, sans-serif !important;
	font-size: 10px !important;
	color: #575757 !important;
	font-weight: bold !important;
	margin: 0 !important;
 }
.red{
	color: #ff5817 !important;
	margin-top: 10px !important;
}
.color{
	background-color: #bcbcbc !important;
}
.input-submit{
	margin-top: 20px;
}
.section-tovars .refresh{
	right: auto !important;
}
.margin-top-0{
	margin-top: 0 !important;
}
.rating-please{
	font-size: 11px !important;
}
.add-photo{
	position: absolute;
	right: 0;
	top: 20%;
}
	.add-photo a{
		font-family: Arial, sans-serif;
		font-size: 9px;
		color: #575757;
	}
		.add-photo a span{
			position: relative;
			top: -20px;
		}
.my-tovars header .label-input{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #747474;
	margin-left: 5px;
}
.my-tovars header{
	padding-left: 20px;
	padding-top: 10px;
}
.my-tovars header input{
	position: relative;
	top: 2px;
	margin-left: 10px;
}
.my-tovars .code-image input{
	text-align: center;
	outline:0;
}
.delete-icon{
	display: block;
	width: 17px;
	height: 16px;
	background-image: url(../images/delete.png);
	position: absolute;
	right: -4px;
	bottom: -3px;
}
.delete-image{
	position: absolute;
	right: 10%;
	top: 5%;
}
	.delete-image-block{
		display: inline-block;
		position: relative;
	}
.my-tovars-info{
	padding-left: 10px;
}
.my-comment-block p{
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #575757;
	line-height: 1.3;
	margin-top: 20px;
}
.add-comment{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #303030;
}
.mini-review-product{
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e3e3e3;
}
.great{
	font-family: Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #575757;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.how-review{
	float: right;
	color: #575757;
	text-decoration: underline;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
	display: inline-block;
	margin: 10px 0;
}
	.how-review:hover{
		text-decoration: none;
	}
.left-group{
	text-align: center;
	padding-top: 15px;
}
.right-group h3:after{
	content: "-10%";
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
	width: 57px;
	height: 30px;
	background-image: url(../images/sale-group.png);
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	color: #fff;
	text-align: center;
	padding-top: 5px;
}