@font-face {
    font-family:'Century Gothic';
    src: url('../fonts/centurygothic.eot');
    src: url('../fonts/centurygothic.eot') format('embedded-opentype'),
         url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff'),
         url('../fonts/centurygothic.ttf') format('truetype'),
         url('../fonts/centurygothic.svg#CenturyGothicRegular') format('svg');
         font-weight: normal;
		 font-style: normal;
}

.container{
	width: 1000px;
	margin: 0 auto;
}
.logo, .banner{
	float: left;
	padding-top: 20px;
}
.banner{
	width: 346px;
	height: 84px;
	background: url(../images/bannet.jpg);
	margin-left: 100px;
}
.right-block{
	float: right;
	padding-top: 5px;
	position: relative;
}
.registration a{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #000;
	margin-left: 10px;
}
	.registration a:hover{
		text-decoration: underline;
	}
.lang{
	display: inline-block;
	padding-left: 25px;
	padding-bottom: 2px;
	background: url(../images/eng.jpg)no-repeat;
	background-position: 0 1px;
}
.shopping-cart{
	margin-top: 15px;
	width: 160px;
	padding-right: 20px;
	position: absolute;
	right: 0;
}
.shop-cart{
	width: 37px;
	height: 36px;
	display: inline-block;
	background: url(../images/cart.jpg);
	float: left;
}	
.status{
	float: right;
}
	.status p{
		font-family: Arial, sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #303030;
	}
	.status span{
		font-family: Arial, sans-serif;
		font-size: 11px;
		color: #303030;
		margin-top: 10px;
		display: inline-block;
	}
nav{
	width: 100%;
	min-width: 1000px;
	background: #b3b3b3;
	overflow: hidden;
}
.nav li{
 	float: left;
 }
	  .nav li a{
	  	display: block;
	  	height: 37px;
	  	padding-left: 30px;
	  	padding-right: 30px;
	  	padding-top: 13px;
	  	font-family: Arial, sans-serif;
	  	font-size: 11px;
	  	color: #fff;
	  	-webkit-transition: all 0.2s;
	  	-o-transition: all 0.2s;
	  	transition: all 0.2s;
 	 }
 	 	.nav li a:hover, nav li a.active{
 	 		background: #ff7964;
			
 	 	}
.search{
	width: 170px;
	float: right;
	position: relative;
	padding-top: 3px;
	padding-right: 5px;
}
	.search input[type="submit"]{
		position: absolute;
		right: 7px;
		top: 11px;
		width: 13px;
		height: 12px;
		background: url(../images/search.png)no-repeat;
		border: 0;
		cursor: pointer;
		outline: 0;
	}
	.search input[type="text"]{
		height: 30px;
		padding-left: 5px;
		font-size: 13px;
		width: 170px;
	}

.nh-block a:first-child{
	display: block;
	width: 200px;
	height: 200px;
	text-align: center;
	position: relative;
}
	.nh-block a:first-child:hover{
		outline: 1px solid #e3e3e3;
	}
.nh-block .description p{
	font-family: Tahoma, sans-serif;
	color: #747474;
}
.nh-block .description p:nth-child(2){
	font-size: 11px;
	margin-top: 3px;
}
.nh-block .description p:last-child{
	font-size: 12px;
	font-weight: bold;
	margin-top: 6px;
}
.nh-block a img{
	position: absolute;
	top: 10%;
	left: 8%;
}
.new-and-hot h3{
	font-family: 'Times New Roman', sans-serif;
	font-size: 42px;
	text-align: center;
	color: #ff7964;
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.nh-block{
	width: 250px;
	float: left;
}
.new-and-hot>.container{
	position: relative;
}
.control{
	position: absolute;
	right: 20px;
	top: 40px;
}
.control a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #575757;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 20px;
	-moz-webkit-border-radius: 20px;
	-ms-webkit-border-radius: 20px;
	-o-webkit-border-radius: 20px;
	border-radius: 20px;
	padding-top: 5px;
	padding-left: 7px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;	
}
	.control a:hover, .control a.active{
		background: #ff7964;
	}
.bestsellers{
	margin-top: 50px;
}
.bestsellers header{
	text-align: center;
	background: #f8f8f8;
	line-height: 1.3;
	padding: 10px 0 15px 0;
}
	.bestsellers header h3{
		font-family: 'Times New Roman',sans-serif;
		font-size: 40px;
		color: #a9b20b;
		text-transform: uppercase;
	}
	.bestsellers header p{
		font-family: Arial, sans-serif;
		font-size: 11px;
		color: #575757;
	}
.best-block .description span{
	font-family: Arial, sans-serif;
	font-size: 22px;
	color: #ff9300;
}
.best-block .description p{
	font-family: Tahoma, sans-serif;
}
.best-block .description .name, .best-block-bottom .description .name{
	font-size: 12px;
	color: #797979;
}
.best-block .description .price, .best-block-bottom .description .price{
	font-size: 15px;
	color: #a2a2a2;
	margin-top: 7px;
}
.best-block{
	width: 333px;
	outline: 1px solid #efefef;
	float: left;
	height: 391px;
}
.best-block >a{
	display: block;
	width: 333px;
	height: 335px;
	border: 1px solid transparent;
	position: relative;
}
	.best-block >a:hover{
		border: 1px solid #dfdfdf;
	}
.best-block a img{
	position: absolute;
	top: 20%;
	left: 20%;
}
.best-block .number{
	position: absolute;
	left: 10px;
	top:10px;
}
	.best-block .number p{
		font-family: 'Times New Roman', sans-serif;
		font-size: 33px;
		color: #ff8481;
		position: relative;
		top: 30px;
		left:10px;
	}
.best-block-bottom{
	width: 249.75px;
	float: left;
	border: 1px solid #efefef;
	height: 425px;
}
	.best-block-bottom>a{
		display: block;
		width: 248px;
		border: 1px solid transparent;
		position: relative;
		height: 248px;
	}
	.best-block-bottom >a:hover{
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
	}
	.best-block-bottom .number{
		height: 75px;
		padding: 10px 0 0 20px;
	}
		.best-block-bottom .number p{
			font-family: 'Times New Roman', sans-serif;
			font-size: 33px;
			color: #ff8481;
			position: relative;
			left: 6px;
			}
	.best-block-bottom a img{
		position: absolute;
		top: 10%;
		left: 10%;
	}
	.best-block-bottom .description{
		padding: 15px 0 0 15px;
	}
.best-block-bottom .number p.two-n{
	left: -1px;
}
.review{
	margin-top: 70px;
}
.review >.container{
	border-top: 1px solid #000;
}
.heart{
	display: inline-block;
	width: 19px;
	height: 16px;
	background: url(../images/heart.png);

}
	.heart:hover, .heart.active{
	background: url(../images/heart-h.png);

}
.review h3{
	font-family: Arial, sans-serif;
	font-size: 27px;
	color: #747474;
}
.review header p{
	font-family: 'Times New Roman', sans-serif;
	font-size: 17px;
	color: #ff7964;
}
.review header{
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 30px;
}
.main-review .comment{
	float: right;
	width: 70%;
	padding-left: 10px;
	line-height: 2.4;
}
.main-review img{
	float: left;
}
.main-review{
	background: #f8f7d9;
	overflow: hidden;
}

.comment p:first-child{
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #575757;
	text-transform: uppercase;
}
.comment span{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #575757;
	position: relative;
	top: -3px;
	left:8px;
}
.comment .info-com{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #666666;
}
.comment .comment-block p{
	margin-top: 50px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #575757;
	line-height: 1.3;
}
.mini-review{
	margin-top: 50px;
}
.mini-comment{
	width: 50%;
	float: left;
	padding-bottom: 40px;
	padding-right: 40px;
}
	.mini-comment .mini-comment-block{
		width: 85%;
		float: right;
	}
	.mini-comment-block p:first-child{
		font-family:'Century Gothic';
		font-size: 12px;
		color: #575757;
	}
	.mini-comment-block span{
		font-family: Tahoma, sans-serif;
		font-size: 11px;
		font-weight: bold;
		color: #575757;
		position: relative;
		top: -3px;
		left:8px;
	}
.mini-comment-block{
	line-height: 1.5;
}
.mini-comment-block .info-com{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #666666;
}
.mini-comment p.commentary{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #575757;
	font-style: italic;
	margin-top: 15px;
	line-height: 1.8;
}
.mini-comment p.commentary a{
	color: #35689a;
}
	.mini-comment p.commentary a:hover{
		text-decoration: underline;
}
.brand-list li a{
	display: block;
	width: 97px;
	height: 33px;
	background: url(../images/brand-1.png);
}
	.brand-list li{
		float: left;
		margin-left: 32px;
		margin-top: 25px;
	}
		.brand-list li:first-child, .brand-list-second li:first-child{
			margin-left: 0;
		}
.brand-list-second li{
	float: left;
	margin-left: 46px;
	margin-top: 25px;
}
.brand-list-second li a{
	display: block;
	width: 83px;
	height: 71px;
	background: url(../images/brand-2.png);
}
.brands{
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	background: #f7f7f7;
	padding-bottom: 30px;
}
footer{
	padding-top: 50px;
}
.footer-drop-child a{
	color: #4c4c4c;
	font-family: Arial, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	line-height: 2.5;
}
	.footer-drop-child a:hover{
	text-decoration: underline;
}
	.footer-drop-child{
		margin-top: 30px;
	}
.footer-drop li{
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ff7964;
	text-transform: uppercase;
}
.footer-drop{
	float: left;
	margin-left: 30px;
}
footer>.container ul:first-child{
	margin-left: 0;
}
.footer-drop-right a{
	line-height: 2.5;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 9px;
	color: #747474;
	text-transform: uppercase;
}
	.footer-drop-right a:hover{
		text-decoration: underline;
	}
.copyright{
	border-top: 1px solid #e3e3e3;
	padding-top: 5px;
	margin-top: 15px;

}
.copyright p{
	width: 348px;
	margin: 0 auto;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #575757;
	line-height: 1.5;
}
.copyright img:last-child{
	float: right;
	position: relative;
	top: -40px;
}
.copyright img:first-child{
	float: left;
}